﻿@model Kinal_Banco.Models.Movimiento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Transaccion.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transaccion.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadConsumida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadConsumida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaReterido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaReterido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRealizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRealizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
