﻿@model Kinal_Banco.Models.Transaccion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRealizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRealizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoAbonado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoAbonado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoRetirado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoRetirado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
