﻿@model Kinal_Banco.Models.Transaccion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Transaccion</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.idCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idCuenta)
                @Html.ValidationMessageFor(model => model.idCuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lugar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lugar)
                @Html.ValidationMessageFor(model => model.Lugar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hora, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hora)
                @Html.ValidationMessageFor(model => model.hora)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaRealizado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaRealizado)
                @Html.ValidationMessageFor(model => model.fechaRealizado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaldoAbonado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaldoAbonado)
                @Html.ValidationMessageFor(model => model.SaldoAbonado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaldoRetirado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaldoRetirado)
                @Html.ValidationMessageFor(model => model.SaldoRetirado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuentaid, "Cuentaid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cuentaid", String.Empty)
                @Html.ValidationMessageFor(model => model.Cuentaid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
