﻿@model IEnumerable<Kinal_Banco.Models.Transaccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRealizado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoAbonado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoRetirado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRealizado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoAbonado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoRetirado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
