﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BienVenidos al Banco Kinal</h1>
    <p class="lead">Bienvenidos al Banco Kinal en donde podra realizar todas sus transacciones, prestamos ahorros y mucho mas.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Prestamos">Prestamos &raquo;</a></p>
        <h5>Si desea realizar algun prestamo haga clik aqui.</h5>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Transacciones">Transacciones &raquo;</a></p>
        <h5>Si desea realizar alguna transccion haga clik aqui.</h5>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Cuentas">Cuentas &raquo;</a></p>
        <h5>Si desea ver cuentas click aqui.</h5>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Movimientos">Movimientos &raquo;</a></p>
        <h5>Si desea ver sus movimientos click aqui.</h5>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Tarjetas">Solicitar Tarjetas &raquo;</a></p>
        <h5>Si desea solicitar su tarjeta haga clik aqui.</h5>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:28236/Personas">Personas &raquo;</a></p>
        <h5>Si desea ver personas haga clik aqui.</h5>
    </div>
</div>