﻿@model Kinal_Banco.Models.TipoMovimiento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoMovimiento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movimiento.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movimiento.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cheque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gastos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gastos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transferencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
