﻿@model Kinal_Banco.Models.TipoMovimiento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TipoMovimiento</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.cheque, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cheque)
                @Html.ValidationMessageFor(model => model.cheque)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gastos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gastos)
                @Html.ValidationMessageFor(model => model.gastos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.transferencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transferencia)
                @Html.ValidationMessageFor(model => model.transferencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movimientoid, "Movimientoid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Movimientoid", String.Empty)
                @Html.ValidationMessageFor(model => model.Movimientoid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
