﻿@model Kinal_Banco.Models.TipoTarjeta

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TipoTarjeta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.tarjetaTipo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tarjetaTipo)
                @Html.ValidationMessageFor(model => model.tarjetaTipo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tarjetaid, "Tarjetaid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Tarjetaid", String.Empty)
                @Html.ValidationMessageFor(model => model.Tarjetaid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
