﻿@model Kinal_Banco.Models.Tarjeta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tarjeta</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoTarjeta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idTipoTarjeta)
                @Html.ValidationMessageFor(model => model.idTipoTarjeta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroTarjeta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroTarjeta)
                @Html.ValidationMessageFor(model => model.numeroTarjeta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PinAcceso, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PinAcceso)
                @Html.ValidationMessageFor(model => model.PinAcceso)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaValidez, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaValidez)
                @Html.ValidationMessageFor(model => model.FechaValidez)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad)
                @Html.ValidationMessageFor(model => model.Cantidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroSecreto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroSecreto)
                @Html.ValidationMessageFor(model => model.numeroSecreto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPago, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaPago)
                @Html.ValidationMessageFor(model => model.FechaPago)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuentaid, "Cuentaid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cuentaid", String.Empty)
                @Html.ValidationMessageFor(model => model.Cuentaid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
