﻿@model IEnumerable<Kinal_Banco.Models.Tarjeta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipoTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinAcceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaValidez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroSecreto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinAcceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaValidez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroSecreto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
