﻿@model Kinal_Banco.Models.Cuenta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cuenta</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idTipoCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idTipoCuenta)
                @Html.ValidationMessageFor(model => model.idTipoCuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saldo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saldo)
                @Html.ValidationMessageFor(model => model.Saldo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroCuenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroCuenta)
                @Html.ValidationMessageFor(model => model.numeroCuenta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Personaid, "Personaid", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Personaid", String.Empty)
                @Html.ValidationMessageFor(model => model.Personaid)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
