﻿@model Kinal_Banco.Models.Persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreReferencia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreReferencia2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoReferencia2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoReferencia2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
