﻿@model Kinal_Banco.Models.Persona

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Persona</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido)
                @Html.ValidationMessageFor(model => model.apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dpi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dpi)
                @Html.ValidationMessageFor(model => model.dpi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo)
                @Html.ValidationMessageFor(model => model.correo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreReferencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreReferencia)
                @Html.ValidationMessageFor(model => model.nombreReferencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefonoReferencia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefonoReferencia)
                @Html.ValidationMessageFor(model => model.telefonoReferencia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreReferencia2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreReferencia2)
                @Html.ValidationMessageFor(model => model.nombreReferencia2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefonoReferencia2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefonoReferencia2)
                @Html.ValidationMessageFor(model => model.telefonoReferencia2)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
